# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env/
venv/
ENV/
# weaviate indexes
weaviate-data-backup/
# Editor files
.idea/
.vscode/
*.swp
*.swo
# local readme backup 
README_local_backup.md
websearch_deneme.ipynb